@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAF5EE; /* ivory */
  color: #1f2933;
  font-family: "Helvetica Neue", system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}
